<div *ngIf="this.withoutCPF; else toAuth">
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Esqueci minha senha</h1>
    <app-form [formFields]="formFields" (FormEmiter)="listenerForm($event)"></app-form>
    <mat-divider></mat-divider>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 4%;">
        <h4 style="margin-right: 5px;">Lembrou a senha?</h4>
        <a (click)="this.callBack()" style="color: rgb(86, 148, 202);">
            <h4>Voltar</h4>
        </a>
    </div>
</div>
<ng-template #toAuth>
    <div *ngIf="!this.changeIsntReady; else toChange">
        <div>
            <div style="max-height: 500px; margin-top: 5%;">
                <app-camera [Measusres]="Measures" [isActivated]="false" [needTitle]="true"></app-camera>
            </div>
            <div *ngIf="this.messageToUser; else loading" style="text-align: center;">
                <app-faces style="margin-top: 3%;" [direction]="this.helper.random"></app-faces>
                <h1
                    style="font-weight: 700; font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-top: 5%;">
                    {{this.messageToUser}}</h1>
            </div>
            <ng-template #loading>
                <app-spinner [diameter]="25"></app-spinner>
            </ng-template>
        </div>
    </div>
    <ng-template #toChange>
        <app-form [formFields]="formFieldsChange" (FormEmiter)="sendChange($event)"></app-form>
    </ng-template>
</ng-template>