<div style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;" *ngIf="this.helper.isLoading.getValue()">
  <app-spinner [bg]="true"></app-spinner>
</div>
<div class="backColor" id="colorbg">
  <div id="color25"></div>
  <div id="color75"></div>
</div>
<div class="fullPage">
  <div class="container">
    <div id="divImg">
      <div class="img">
        <img id="img" src="../../../assets/img/logo.png">
      </div>
    </div>
    <div id="divForm">
      <div id ='changeWidth' style="width: 55%">
        <div *ngIf="!this.lostPassword; else lostPasswordLink">
          <h1 style="font-family: 'Roboto', sans-serif;">Login</h1>
          <app-form [formFields]="formFields" (FormEmiter)="listenerForm($event)" (linkClick)="this.toForgot()"></app-form>
          <div class="register">
            <h4 style="margin-right: 5px;">Ainda não tem uma conta?</h4>
            <a href="register" style="color: rgb(86, 148, 202);">
              <h4>Cadastrar-se</h4>
            </a>
          </div>
        </div>
        <ng-template #lostPasswordLink>
          <app-forgot-password (back)="this.toLogin()"></app-forgot-password>
        </ng-template>
      </div>
    </div>
  </div>
</div>