<div class="fullPage">
  <div class="container">
    <mat-grid-list cols="2" rowHeight="5:3">
      <mat-grid-tile>
        <div *ngIf="imgBD != ''; else error">
          <img id="imgBD" src="{{ imgBD }}" alt="" />
          <h1>Imagem do BD</h1>
        </div>
        <ng-template #error>
          <div *ngIf="!timeIsOver; else broked">
            <app-spinner></app-spinner>
          </div>
          <ng-template #broked>
            <h1>Sem comunicação com o servidor!</h1>
          </ng-template>
        </ng-template>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-camera [isActivated]="false" (PicWasTaken)="emiter()"></app-camera>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <div *ngIf="validation != ''; else error">
          {{validation}}
        </div>
        <ng-template #error>
          <div *ngIf="!timeIsOver; else broked">
            <app-spinner></app-spinner>
          </div>
          <ng-template #broked>
            <h1>Sem comunicação com o servidor!</h1>
          </ng-template>
        </ng-template>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>