.fullPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background: #166E84;
}

.container {
    padding: 40px 50px;
    border: solid 1px rgb(211, 210, 210);
    height: 800px;
    width: 1300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%
}

.containerImg {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#imgBD {
    width: 400px;
}