<app-toolbar></app-toolbar>
<div class="fullPage">
    <div class="container">
        <div class="containerImg">
            <div *ngIf="imgBD != undefined; else errorDB"
                style="display: flex; flex-direction: column; align-items: center;">
                <img id="imgBD" src="{{ imgBD }}" alt="" />
                <br />
                <h1>Imagem de referência</h1>
            </div>
            <ng-template #errorDB>
                <div style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
                    <img style="max-width: 50px; margin-bottom: 5%;" src="../../../assets/img/x.png" alt="" srcset="">
                    <h1>Sem comunicação com a API!</h1>
                </div>
            </ng-template>
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <app-files (imgBase64)="onImgBase64($event)" ></app-files>
                <br />
                <div *ngIf="this.helper.myimage">
                    <h1>Imagem importada</h1>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="this.helper.myimage" style=" display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <Label style="font-family: 'Roboto', sans-serif;">{{res}}</Label>
                <button mat-stroked-button (click)="onClick()">Tentar novamente</button>
            </div>
        </div>
        <div>
            <button mat-stroked-button (click)="onBack()">Voltar</button>
        </div>
    </div>
</div>