<div style="display: flex; justify-content: space-between;">
  <div>
    <h1 mat-dialog-title >Cadastrar foto</h1>
  </div>
  <div>
    <button mat-button (click)="close()" style="width: 2%;">X</button>
  </div>
</div>
<mat-divider style="padding: 2%;"></mat-divider>
<div mat-dialog-content id="main">
  <div *ngIf="img; else camera">
    <img style="width: 400px;" src={{this.img}}>
  </div>
  <ng-template #camera>
    <app-camera *ngIf="!isHidden" (PicWasTaken)="attPicWasTaken($event)"></app-camera>
  </ng-template>
</div>
<div *ngIf="isHidden" id="liked">
  <h1>Gostou da foto?</h1>
</div>
<mat-divider *ngIf="isHidden"></mat-divider>
<div mat-dialog-actions *ngIf="isHidden" class="buttons">
    <button mat-raised-button (click)="refuse()">Não</button>
    <button mat-raised-button color="primary" (click)="saveAndClose()">Sim</button>
</div>