<div style="display: flex; justify-content: space-between;">
  <div>
    <h1 mat-dialog-title >Cadastrar foto</h1>
  </div>
  <div>
    <button mat-button (click)="close()" style="width: 2%;">X</button>
  </div>
</div>
<mat-divider style="padding: 2%;"></mat-divider>
<div mat-dialog-content id="main">
  <div *ngIf="this.helper.loopShoot; else authOk">
    <app-camera [Measusres]="Measures" [isActivated]="false" (PicWasTaken)="emiter()"></app-camera>
    <div *ngIf="res; else wait" style="text-align: center;">
      <h1 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">{{res}}</h1>
    </div>
    <ng-template #wait>
      <app-spinner [diameter]="25"></app-spinner>
    </ng-template>
  </div>
  <ng-template #authOk>
    <div *ngIf="img; else camera">
      <img style="width: 500px" src={{this.img}}>
    </div>
    <ng-template #camera>
      <app-camera [Measusres]="this.Measures" *ngIf="!isHidden" (PicWasTaken)="attPicWasTaken($event)"></app-camera>
    </ng-template>
  </ng-template>
</div>
<div *ngIf="isHidden" id="liked">
  <h1>Gostou da foto?</h1>
</div>
<mat-divider *ngIf="isHidden"></mat-divider>
<div mat-dialog-actions *ngIf="isHidden" class="buttons">
    <button mat-raised-button (click)="refuse()">Não</button>
    <button mat-raised-button color="primary" (click)="saveAndClose()">Sim</button>
</div>