.fullPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background: linear-gradient( to right,rgb(68, 68, 70),rgb(3, 0, 19));
}

.container {
    padding: 40px 50px;
    border: solid 1px rgb(211, 210, 210);
    height: 800px;
    width: 1300px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}