.fullPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: linear-gradient( to right,skyblue,dodgerblue);
}

.container {
  border: solid 1px rgb(211, 210, 210);
  padding: 5%;
  border-radius: 5px;
  height: 580px;
  width: 500px;
  background-color: white;
}

.webCam {
  margin-top: 3%;
  width: 100%;
}
.webCam > button{
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}


.Back > button {
  width: 100%;
  margin-top: 4%;
}

.end{
  display: flex;
  margin-top: 8%;
  justify-content: space-between;
}

.end > a {
  width: 90px;
}
