<div class="fullPage">
  <div class="container">
    <form onsubmit="">
      <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" placeholder="Insira aqui o Nome" >
      </div>
      <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" class="form-control" id="CPF" placeholder="Insira aqui o CPF" >
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Insira aqui a senha">
      </div>
      <div class="form-group">
        <label for="passwordConfimation">Confirmação de Senha</label>
        <input required type="password" class="form-control" id="passwordConfimation" placeholder="Insira aqui a senha" >
      </div>
      <div class="Back">
        <app-modal></app-modal>
      </div>
      <div class="end">
        <a type="button" class="btn btn-outline-primary" href="/">Voltar</a>
        <button type="button" class="btn btn-primary" (click)="submit()">Finalizar</button>
      </div>

    </form>
  </div>
</div>
