<app-toolbar></app-toolbar>
<div class="fullPage">
  <div class="container">
    <div class="containerimg">
      <div *ngIf="!this.passValidar; else validar">
        <app-camera [Measusres]="Measures" [isActivated]="false" (PicWasTaken)="emiter()"></app-camera>
      </div>
      <ng-template #validar>
        <div *ngIf="imgBD != ''; else errorDB" style="display: flex; flex-direction: column; align-items: center;">
          <img id="imgBD" src="{{ imgBD }}" alt="" />
          <br />
          <h1>Imagem de referência</h1>
        </div>
        <ng-template #errorDB>
          <div *ngIf="!timeIsOver; else brokedBD">
            <app-spinner></app-spinner>
            <h1>Imagem de referência</h1>
          </div>
          <ng-template #brokedBD>
            <div style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
              <img style="max-width: 50px; margin-bottom: 5%;" src="../../../assets/img/x.png" alt="" srcset="">
              <h1>Sem comunicação com a API!</h1>
            </div>
          </ng-template>
        </ng-template>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div id="camera" style="padding-bottom: -15px;">
            <app-camera [Measusres]="Measures" [isActivated]="false" (PicWasTaken)="emiter()"></app-camera>
          </div>
        </div>
      </ng-template>
    </div>
    <div id="validacao">
      <div *ngIf="validation != ''; else error">
        <div>
          <h1>{{validation}}</h1>
          <div>
            <app-spinner [diameter]="25"></app-spinner>
          </div>
        </div>
      </div>
      <ng-template #error>
        <div *ngIf="this.helper.message[0]; else loading">
          <h1>{{this.helper.message[0]}}</h1>
        </div>
        <ng-template #loading>
          <div *ngIf="!timeIsOver; else broked">
            <app-spinner></app-spinner>
          </div>
          <ng-template #broked>
            <h1>Sem comunicação com a API!</h1>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
    <div>
      <button mat-stroked-button (click)="onBack()">Voltar</button>
    </div>
  </div>
</div>