<app-toolbar></app-toolbar>
<div class="fullPage">
  <div class="container">
    <div class="containerimg">
      <div *ngIf="this.passValidar == 'naoPassou'; else check">
        <app-camera [Measusres]="Measures" [isActivated]="false" (PicWasTaken)="emiter()"></app-camera>
      </div>
      <ng-template #check>
        <div *ngIf="this.passValidar == 'passou'; else imgFalse" style="text-align: center;">
          <img src="../../../assets/img/check.png" style="width: 30%; height: 40%;" alt="" srcset="">
        </div>
        <ng-template #imgFalse>
          <img src="../../../assets/img/x.jpg" style="width: 35%; height: 40%;" alt="" srcset="">
        </ng-template>
      </ng-template>
    </div>
    <div id="validacao">
      <div *ngIf="messageToUser != ''; else error">
        <div style="text-align: center;">
          <h1>{{messageToUser}}</h1>
        </div>
      </div>
      <ng-template #error>
        <app-spinner [diameter]="25"></app-spinner>
      </ng-template>
    </div>
  </div>
</div>
