.example-spacer {
    flex: 1 1 auto;
  }
  
  .fullPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background: #166E84;
  }
  
  .container {
    padding: 40px 50px;
    border: solid 1px rgb(211, 210, 210);
    height: 550px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
  }
  
  .containerimg {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 370px;
    align-items: center;
  }
  
  .classBlue {
    font-family: 'Roboto', sans-serif;
    color: rgb(37, 115, 231);
  }
  .classRed {
    font-family: 'Roboto', sans-serif;
    color: rgb(231, 37, 37);
  }
  .classYellow {
    font-family: 'Roboto', sans-serif;
    color: rgb(231, 212, 37);
  }
  .classGreen {
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 231, 37);
  }
  .classBorderBlue {
    border: solid 3px rgb(37, 115, 231);
  }
  .classBorderRed {
    border: solid 3px rgb(231, 37, 37);
  }
  .classBorderYellow {
    border: solid 3px rgb(231, 212, 37);
  }
  .classBorderGreen {
    border: solid 3px rgb(43, 231, 37);
  }
  
  #validacao {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  #imgBD {
    max-width: 400px;
  }