<form id="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
   <div *ngFor="let input of formFields.inputs" class={{input.class}}>
      <mat-form-field appearance="outline" class='input' style="margin: -0.5% 0;">
         <mat-label>{{input.show}}</mat-label>
         <input matInput formControlName={{input.name}} type={{input.type}} mask={{input.mask}} autocomplete="off">
         <mat-error *ngIf="formulario.invalid && input.name == 'Nome'">Ex.: Matheus Cardoso</mat-error>
         <mat-error *ngIf="formulario.invalid && input.name != 'Nome'">Campo inválido</mat-error>
      </mat-form-field>
   </div>
   <div style="display: flex; justify-content: flex-start;" *ngFor="let link of formFields.link">
      <h4 (click)="this.emitClick()" style="color: #00569f; cursor: pointer;">{{link.show}}</h4>
   </div>
   <div>
      <div *ngFor="let btn of formFields.buttons" class={{btn.class}}>
         <button mat-raised-button color="primary" type={{btn.type}} id={{btn.name}}>{{btn.show}}</button>
      </div>
   </div>
</form>