<app-toolbar></app-toolbar>
<div class="fullPage">
    <div class="container">
        <div class="containerButton">
            <button mat-stroked-button style="height: 35%; width: 35%; background-color: rgba(240, 240, 240, 0.8);"
                (click)="toWebCamAt()"><h2>Verificação de vivacidade ativa.</h2></button>
            <button mat-stroked-button style="height: 35%; width: 35%;background-color: rgba(240, 240, 240, 0.8);"
                (click)="toWebCamPac()"><h2>Verificação de vivacidade passiva.</h2></button>
        </div>
        <div>
            <button mat-stroked-button (click)="onBack()">Voltar</button>
        </div>
    </div>
</div>